
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	height: 100%;
	box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
	margin: 0;
	transition: background 0.3s;
	height: 100%;
	font-family: "Trebuchet", "Arial", sans-serif;
}

.clearfix {
	clear: both;
}

.card-holder {
    height: 100vh;
	width: calc(100vw - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
}
.card-holder > div {
    border: 2px solid #444;
    border-radius: 10px;
    width: calc(88% / 6);
    height: calc(80vh / 6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-holder > div > div {
    height: 90%;
    width: 70%;
    background-image: url(symbols.png);
    background-size: 400%;
}
div.group-five {
    background-color: #ffb3ba;
}
div.group-five > div {
    background-position: 69% 49%;
}
div.group-four {
    background-color: #ffffba;
}
div.group-four > div {
    background-position: 68% 136%;
}
div.group-six {
    background-color: #d7aeff;
}
div.group-six > div {
    background-position: 31% 196%;
}
div.group-two  {
    background-color: #bae1ff;
}
div.group-two > div {
    background-position: 69% 246%;
}
div.group-eight  {
    background-color: white;
}
div.group-eight > div {
    background-position: 127% 138%;
    opacity: .5;
    filter: grayscale(100);
}
div.group-seven  {
    background-color: #ffdfba;
}
div.group-seven > div {
    background-position: 164% 136%;
}
div.group-three  {
    background-color: #baffc9;
}
div.group-three > div {
    background-position: 164% 105%;
}
div.pawn  {
    background-color: rebeccapurple;
}
div.pawn > div {
    background-image: url(https://png.icons8.com/?id=13728&size=280);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.removed {
    opacity: 0;
    pointer-events: none;
}

.button-bar {
    position: absolute;
    top: 0;
    left: 0;
	width: 300px;
    height: 100%;
    background: black;
    padding: 0 8px;
    border-right: 1px solid #444;
    color: white;
}
.button-bar .button {
	background: skyblue;
	margin-top: 9%;
    text-transform: uppercase;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}
.button-bar .help {
	position: absolute;
    right: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
	background: darkblue;
    padding: 2px 7px;
    border: 2px solid white;
    font-weight: bold;
    font-size: 20px;
}

.scores {
    width: 100%;
    margin-top: 100px;
}
.scores .player {
    padding: 10px 10px 40px;
    position: relative;
}
.scores .player:before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: rebeccapurple;
    transition: top 0.5s, bottom 0.5s;
}
.scores .player.player-one:not(.active):before {
    top: 100%;
}
.scores .player.player-two:not(.active):before {
    bottom: 100%;
}
.scores .player .name input {
    position: relative;
}
.scores .player .name input {
    color: inherit;
    background: inherit;
    border: 0;
    font-size: 22px;
    margin: 10px 0;
}
.scores .player .tokens {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.scores .player .tokens > div {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 4px;
}
.scores .player .tokens > div:after {
    content: attr(data-count);
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
}
.scores .player .tokens > div.lead:after {
    font-weight: bold;
    color: goldenrod;
}