
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	height: 100%;
	box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
	margin: 0;
	transition: background 0.3s;
	height: 100%;
	font-family: "Trebuchet", "Arial", sans-serif;
}

.clearfix {
	clear: both;
}

.card-holder {
    height: 100%;
	width: calc(100vw - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    position: absolute;
    top: 0;
    right: 0;
}
.card-holder > div {
    border: 2px solid #444;
    border-radius: 10px;
    width: calc(88% / 6);
    height: calc(88% / 6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pawn,
div[class^="group-"] {
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}
div.group-five {
    background-color: #ffb3ba;
    background-image: url('img/sym-red.png');
}
div.group-four {
    background-color: #ffffba;
    background-image: url('img/sym-yellow.png');
}
div.group-six {
    background-color: #d7aeff;
    background-image: url('img/sym-purple.png');
}
div.group-two  {
    background-color: #bae1ff;
    background-image: url('img/sym-blue.png');
}
div.group-eight  {
    background-color: white;
    background-image: url('img/sym-grey.png');
}
div.group-seven  {
    background-color: #ffdfba;
    background-image: url('img/sym-orange.png');
}
div.group-three  {
    background-color: #baffc9;
    background-image: url('img/sym-green.png');
}
div.pawn  {
    background-color: rebeccapurple;
    background-image: url('img/crown.png');
}
.card-holder div.removed {
    opacity: 0;
    pointer-events: none;
}

.button-bar {
    position: absolute;
    top: 0;
    left: 0;
	width: 300px;
    height: 100%;
    background: black;
    padding: 0 8px;
    border-right: 1px solid #444;
    color: white;
}
.button-bar .button {
    background: #0e455c;
    text-transform: uppercase;
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    bottom: 20px;
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
}
.button-bar .help {
	position: absolute;
    right: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: white;
	background: darkblue;
    padding: 2px 7px;
    border: 2px solid white;
    font-weight: bold;
    font-size: 20px;
}

.scores {
    width: 100%;
    margin-top: 20px;
}
.scores .player {
    padding: 10px 10px 20px;
    position: relative;
}
.scores .player:before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: rebeccapurple;
    transition: top 0.5s, bottom 0.5s;
}
.scores .player.player-one:not(.active):before {
    top: 100%;
}
.scores .player.player-two:not(.active):before {
    bottom: 100%;
}
.scores .player .name input {
    position: relative;
}
.scores .player .name input {
    color: inherit;
    background: inherit;
    border: 0;
    font-size: 32px;
    margin: 10px 0 15px;
    width: 100%;
}
.scores .player .tokens {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.scores .player .tokens > div {
    width: 32px;
    height: auto;
    padding-top: 20px;
}
.scores .player .tokens > div > div {
    width: 32px;
    height: 32px;
    border: 1px solid #444;
    border-radius: 4px;
    margin-top: -20px;
}

.scores .player .tokens > div[data-count="0"] {
    opacity: 0;
}
.scores .player .tokens > div:after {
    content: attr(data-count);
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
}
.scores .player .tokens > div.lead:after {
    font-weight: bold;
    color: goldenrod;
}

.card-holder .winner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(255,255,255,0.8);
    font-size: 50px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color: rebeccapurple;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 140%;
    opacity: 0;
    transition: opacity 0.8s;
}
.card-holder .winner.show {
    opacity: 1;
}

@media screen and ( max-width: 760px ){ /* mobile landscape */
    .scores {
        margin-top: 0;
    }
    .button-bar {
        width: 260px;
        padding: 0;
    }
    .button-bar .button {
        padding: 10px 8px;
        font-size: 20px;
        bottom: 5px;
        width: calc(100% - 10px);
        left: 5px;
    }
    .scores .player .name input {
        font-size: 20px;
        margin: 0 0 10px;
    }
    .scores .player .tokens > div:after {
        margin-top: 4px;
        font-size: 16px;
    }
    .scores .player {
        padding-bottom: 10px;
    }
    .scores .player .tokens > div > div {
        width: 30px;
        height: 30px;
        margin-top: -22px;
    }
    .card-holder {
        width: calc(100vw - 260px);
    }
    .card-holder .winner {
        font-size: 40px;
    }
}