
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	height: 100%;
	box-sizing: border-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
    background: #959595; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
body {
	margin: 0;
	transition: background 0.3s;
	height: 100%;
	font-family: "Trebuchet", "Arial", sans-serif;
}

.clearfix {
	clear: both;
}

.card-holder {
    height: calc(100% - 280px);
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    position: absolute;
    top: 120px;
    right: 0;
}
.card-holder > div {
    border: 2px solid #444;
    border-radius: 10px;
    width: calc(88% / 6);
    height: calc(88% / 6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pawn,
div[class^="group-"] {
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}
div.group-five {
    background-color: #ffb3ba;
    background-image: url('img/sym-red.png');
}
div.group-four {
    background-color: #ffffba;
    background-image: url('img/sym-yellow.png');
}
div.group-six {
    background-color: #d7aeff;
    background-image: url('img/sym-purple.png');
}
div.group-two  {
    background-color: #bae1ff;
    background-image: url('img/sym-blue.png');
}
div.group-eight  {
    background-color: white;
    background-image: url('img/sym-grey.png');
}
div.group-seven  {
    background-color: #ffdfba;
    background-image: url('img/sym-orange.png');
}
div.group-three  {
    background-color: #baffc9;
    background-image: url('img/sym-green.png');
}
div.pawn  {
    background-color: rebeccapurple;
    background-image: url('img/crown.png');
}
.card-holder div.removed {
    opacity: 0;
    pointer-events: none;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: black;
    color: white;
    padding-top: 13px;
}
.player .name,
.player .name input {
    display: none;
}
.player.active {
    top: auto;
    bottom: 0;
    background: rebeccapurple;
}
.player.active .name {
    font-size: 26px;
    position: absolute;
    bottom: 99%;
    width: 100%;
    background: rebeccapurple;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.player:before {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: rebeccapurple;
    transition: top 0.5s, bottom 0.5s;
}
.player.player-one:not(.active):before {
    top: 100%;
}
.player.player-two:not(.active):before {
    bottom: 100%;
}*/
.player .tokens {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding-left: 50px;
}
.player .tokens > div {
}
.player .tokens > div > div {
    width: 60px;
    height: 60px;
    border: 1px solid #444;
    border-radius: 4px;
    margin-left: -40px;
    float: left;
}

.player .tokens > div[data-count="0"] {
    opacity: 0;
}
.player .tokens > div:after {
    content: attr(data-count);
    display: inline-block;
    position: relative;
    left: -25px;
    top: 10px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.player .tokens > div.lead:after {
    font-weight: bold;
    color: goldenrod;
}

.card-holder .winner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: rgba(255,255,255,0.8);
    font-size: 50px;
    font-family: 'Georgia', 'Times New Roman', serif;
    color: rebeccapurple;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 140%;
    opacity: 0;
    transition: opacity 0.8s;
}
.card-holder .winner.show {
    opacity: 1;
}

@media screen and ( max-width: 760px ){ /* mobile landscape */
    .player {
        height: 100px;
        padding-top: 16px;
    }
    .player .tokens {
        padding-left: 32px;
    }
    .player .tokens > div:after {
        content: attr(data-count);
        display: inline-block;
        position: relative;
        left: -16px;
        top: 10px;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
    .player .tokens > div > div {
        width: 29px;
        height: 30px;
        border: 1px solid #444;
        border-radius: 4px;
        margin-left: -20px;
        float: left;
    }
    .player .tokens > div[data-count="0"] {
        width: 1px !important;
    }

   .card-holder {
        height: calc(100% - 240px);
        top: 100px;
    }
    .card-holder .winner {
        font-size: 36px;
    }
}